{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/styles.css' %}" ></link>
    <title>Home</title>
</head>

<body>
    <h1>Bem-Vindo ao Nosso Refúgio Poético</h1>

    <h2>Seja bem-vindo à nossa jornada pelas palavras, à dança das letras que revela a alma. 
        Aqui, celebramos a magia das palavras e a profundidade das emoções por meio da poesia. 
        Permita-se perder-se nos versos, encontrar significado nas entrelinhas e descobrir a beleza nas palavras.</h2>
    <p></p>
</body>
</html>
